<table>
    <tr>
        <td>Enter HNO</td>
        <td><input type="text" placeholder="enter no" /></td>
    </tr>
    <tr>
        <td>City</td>
        <td><input type="text" placeholder="enter city" /></td>
    </tr>
    <tr>
        <td>State</td>
        <td><input type="text" placeholder="enter State" /></td>
    </tr>
    <tr>
        <td>Pincode</td>
        <td><input type="text" placeholder="enter pincode" /></td>
    </tr>
</table>

