using WebApplication2.Models;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
   // Employee emp1
   //     = (Employee)ViewData["Employee"];
    //<p>Employee Id: @emp1.Id</p>
    //<p>Employee Name: @emp1.Name</p>
   // <p>Employee Designation: @emp1.Designation</p>

}