<!--<footer class="footer  bgred">
  <div class="container">
    <span class="text-dark">@Copyrights are reserved</span>
  </div>
</footer>-->
<!-- Footer -->
<footer class="page-footer font-small bgred">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2021 Copyright:
    <span style="color:blue"> BrightHorizon.com</span>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<!--<footer id="footer">   <div class="footericon">     <i class="fab fa-facebook"></i>     <i class="fab fa-twitter"></i>     <i class="fab fa-instagram"></i>     <i class="fab fa-snapchat"></i>   </div>   <p>@Copyright 2021 all right reserved</p> </footer>-->
<!--<footer class="container">
  <p class="float-center">@Copyrights are reserved</p>
  <p>© 2017–2021 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>-->
<!--<section class="">-->
<!-- Footer -->
<!--<footer class="text-center text-white" style="background-color: #0a4275;">-->
<!-- Grid container -->
<!--<div class="container p-4 pb-0">-->
<!-- Section: CTA -->
<!--<section class="">
  <p class="d-flex justify-content-center align-items-center">
    <span class="me-3">Register for free</span>
    <button type="button" class="btn btn-outline-light btn-rounded">
      Sign up!
    </button>
  </p>
</section>-->
<!-- Section: CTA -->
<!--</div>-->
<!-- Grid container -->
<!-- Copyright -->
<!--<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
  © 2020 Copyright:
  <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
</div>-->
<!-- Copyright -->
<!--</footer>-->
<!-- Footer -->
<!--</section>-->
<!--<footer id="mdb-footer" class="mt-4" style="background-color: #fbfbfb;">

  <style>

    #mdb-footer {
      padding-left: 240px;
    }


    @media (max-width: 1439px) {
      #mdb-footer {
        padding-left: 0;
      }
    }
  </style>

  <div class="container py-4">-->
<!--Grid row-->
<!--<div class="text-center">

  <p class="">
    Get useful tips &amp; free resources directly to your inbox along with exclusive subscriber-only content.
  </p>
  <a href="https://mdbootstrap.com/newsletter/" type="button" class="btn btn-primary">JOIN OUR MAILING LIST NOW<i class="fas fa-angle-double-right ms-2"></i></a>




</div>-->
<!--Grid row-->
<!--</div>-->
<!-- Copyright -->
<!--<div class="text-center p-3" style="background-color: rgba(0,0,0,0.1);">
  © 2021
  Copyright:
  <a class="" href="https://mdbootstrap.com/"> <strong>MDBootstrap.com</strong></a>
</div>-->
<!-- Copyright -->
<!--</footer>-->
