<!--<h1>***Wecome to angular new project***</h1>-->
<!--<app-customer></app-customer>
<app-product></app-product>
<app-prop-bind></app-prop-bind>
<app-eventbind></app-eventbind>-->
<!--<app-calculator></app-calculator>
<app-interpolation></app-interpolation>
<app-struct-dir></app-struct-dir>
<app-struct-dirobj></app-struct-dirobj>-->
<!--<app-display-product></app-display-product>
<app-calculator></app-calculator>-->
<!--<app-switch></app-switch>
<app-attribute></app-attribute>
<div appNewdir> Welcome to Angular cust directives</div>
<div appSecondDir>Directive second Example</div>
<app-pipe></app-pipe>-->
<!--<app-display-product></app-display-product>
<app-emp-details></app-emp-details>-->

<!--<app-product-parent></app-product-parent>
<hr />
<hr />
<div>
  <br />
  <h1>Increment and Decrement</h1>
  <app-parent></app-parent>
</div>-->
<app-first></app-first>
<app-second></app-second>
