<app-navbar></app-navbar>

<hr class="my-5">
<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <section>
    <table>
      <tr>
        <th>Course Id</th>
        <th>Course Name</th>
        <th>Cource Price</th>
        <th>Trainer Name</th>
        <th>Trainer Image</th>
      </tr>
      <tr>
        <td>
          1.
        </td>
        <td>
          Basics of C#
        </td>
        <td>
          Rs. 1000
        </td>
        <td>
          Dipali
        </td>
        <td>
          <img src='../assets/avator.jfif' appAppSecondDir />
        </td>
      </tr>
      <tr>
        <td>
          2.
        </td>
        <td>
          Basics of SQL Server
        </td>
        <td>
          Rs.500
        </td>
        <td>
          Cheerangivi
        </td>
        <td>
          <img src='../assets/p1.jfif' appAppSecondDir />
        </td>
      </tr>
      <tr>
        <td>
          3.
        </td>
        <td>
          Basics of ADO.Net
        </td>
        <td>
          Rs.1000
        </td>
        <td>
          Raksha
        </td>
        <td>
          <img src='../assets/p2.jpg' appAppSecondDir />
        </td>
      </tr>
      <tr>
        <td>
          4.
        </td>
        <td>
          Basics of VB.Net
        </td>
        <td>
          Rs. 1000
        </td>
        <td>
          Pranav
        </td>
        <td>
          <img src='../assets/p3.jfif' appAppSecondDir />
        </td>
      </tr>
    </table>
  </section>
  <hr class="my-5">
</body>
</html>


<app-footer></app-footer>
