<!--<nav>
  <a [routerLink]='["corejava"]' routerLinkActive='active'>Core java</a> |
  <a [routerLink]='["advjava"]' routerLinkActive='active'>Adv java</a>
</nav>
<router-outlet></router-outlet>-->
<br />
<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <section>
    <table>
      <tr>
        <th>Sr. No</th>
        <th>Features</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>
          1.
        </td>
        <td>
          JDBC, servlets, JSP, web services etc.
        </td>
        <td>
          It covers core topics such as JDBC, servlets, JSP, web services etc.
        </td>

      </tr>
      <tr>
        <td>
          2.
        </td>
        <td>
          enterprise applications
        </td>
        <td>
          Core Java is used for developing enterprise applications.
        </td>

      </tr>
    </table>
  </section>
</body>
</html>
