
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>



    <!-- Font Icon -->
    @*<link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">*@
    <link href="~/Loginnew/fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet" />




    <!-- Main css -->
    @*<link rel="stylesheet" href="css/style.css">*@
    <link href="~/Loginnew/css/style.css" rel="stylesheet" />



</head>
<body style="background-color:paleturquoise">



    @*<div class="main">*@
    <!-- Sing in  Form -->



    <section class="sign-in">
        <div class="container">



            <div class="signin-content">
                <div class="signin-image">
                    @*<figure><img src="images/signin-image.jpg" alt="sing up image"></figure>*@



                    <figure><img src="~/Registraionkit/images/image-1.png" /></figure>
                </div>

                <div>
                    @RenderBody()
                </div>

            </div>
        </div>
    </section>



    @*</div>*@



    <!-- JS -->
    @*<script src="vendor/jquery/jquery.min.js"></script>*@
    <script src="~/Loginnew/jquery/jquery.min.js"></script>



    @*<script src="js/main.js"></script>*@
    <script src="~/Loginnew/js/main.js"></script>




</body>
</html>
