@page
@model RazorSessionDemo.Pages.EloginPageModel
@{
}
<form method="post">
    Enter UserName :<input as-for="El.Username" /><br />
    Enter Password :<input as-for="El.Password" /><br />
    <input type="submit" value="Login">
</form>