
@{
    ViewBag.Title = "Page1";
    Layout = "~/Views/Shared/_AdminFinalLayout.cshtml";
}

<h2>
    Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development. It contains CSS- and JavaScript-based design templates for typography, forms, buttons, navigation, and other interface components.
    Wikipedia icon
    Wikipedia
    Official site icon
    Official site
    Facebook icon
    Facebook
    Developer: Bootstrap Core Team
    Written in: HTML, CSS, Less (v3), Sass (v4) and JavaScript
    License: MIT License (Apache License 2.0 prior to 3.1.0)
</h2>

