
@{
    ViewBag.Title = "Page2";
}

<h2>Page2</h2>

<p>the value in View Data is : @ViewData["Message1"] </p>
<p> the value in TempData is : @TempData["Message2"] </p>
<p> the value in ViewBag is : @ViewBag.Message3 </p>
<p> the value in session is : @Session["Message4"] </p>
