@{
    Layout = "_Layout";
}
@{ 
    <a href="C:\Users\dipalik\Music\VM_C#\DOTNETCORE\AreasDemo1\Areas\Admin\Views\_LayoutPartial.cshtml">
    C:\Users\dipalik\Music\VM_C#\DOTNETCORE\AreasDemo1\Areas\Admin\Views\_LayoutPartial.cshtml</a>
    }
