/*#topheader .navbar-nav li > a {
  text-transform: capitalize;
  color: #333;
  transition: background-color .2s, color .2s;
  &:hover, &:focus

{
  background-color: #333;
  color: #fff;
}

}

#topheader .navbar-nav li.active > a {
  background-color: #333;
  color: #fff;
}
footer {
  position: fixed;
  height: 40px;
  bottom: 0;
  width: 100%;
}
*/
